body {
    background-color: #fff;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 120px;
  }
  
  .search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search input {
    width: 300px;
    padding: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  nav {
    text-align: center;
    margin-top: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: blue;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .recommended-products {
    padding: 50px;
  }
  
  .recommended-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .product-card h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login-register {
    display: flex;
    align-items: center;
  }
  
  .login-button,
  .register-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  